*/target
/target
/core
/test-lmdb
/wallet
/.build
genkey-batch
monero-wallet-rpc.log
notes.txt
.vscode/settings.json
*.bz2
*.zip
monero-x86_64-linux-gnu-v*/
*.jar
opt/*
*.so
*.config
*.log
*.key
router.info
router.keys.dat
prngseed.rnd
hostsdb.blockfile
certificates/
netDb/*
peerProfiles/*
*.dat
*.txt
*.txt.gz
opt-backup/j4-i2p-rs/jassets/addressbook.war
**/i2p/*
neveko-x86_64-linux-gnu-*
*.lock
