*/target
/target
/core
/test-lmdb
/wallet
/.build
genkey-batch
monero-wallet-rpc.log
notes.txt
.vscode/settings.json
*.bz2
*.zip
monero-x86_64-linux-gnu-v*/
*.jar
opt/*
eventlog.txt
libjcpuid.so
router.config
router.ping
libjbigi.so
wrapper.log
keyBackup/privateEncryption.key
keyBackup/privateSigning.key
keyBackup/publicEncryption.key
keyBackup/publicSigning.key
logs/log-0.txt
router.info
router.keys.dat
prngseed.rnd
hostsdb.blockfile
logs/log-1.txt
certificates/
netDb/*
peerProfiles/*
*.dat
ssu2tokens.txt
