name: cargo-build-release

on:
  push:
    paths-ignore:
      - 'docs/**'
      - 'scripts/**'
      - 'README.md'
    branches: ["v0.*", "!main", "!dev"]
  pull_request:
    branches: ["v0.*", "!main", "!dev"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: sudo apt install -y libssl-dev build-essential libgpgme-dev
      - name: Extract branch name
        shell: bash
        run: echo "branch=$(echo ${GITHUB_REF#refs/heads/})" >>$GITHUB_OUTPUT
        id: extract_branch
      - uses: actions/checkout@v3
      - run: ./scripts/build_release.sh ${{ steps.extract_branch.outputs.branch }}
      - uses: actions/upload-artifact@v3
        with:
          name: neveko-x86_64-linux-gnu-${{ steps.extract_branch.outputs.branch }}
          path: neveko-x86_64-linux-gnu-${{ steps.extract_branch.outputs.branch }}.tar.bz2
