name: cargo-build

on:
  push:
    paths-ignore:
      - 'docs/**'
      - 'scripts/**'
      - 'README.md'
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: sudo apt install -y libssl-dev build-essential libgpgme-dev
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cd nevmes-core && cargo test --verbose
